Repository chirimen-oh/node-web-gpio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --single-quote, prettier --write

.lintstagedrc.yaml:

"*.ts":
  # typescript
  # prettier で、ダブルクオートからシングルクオートへ
  - prettier --write --single-quote
"*.{md,yml}":
  # markdown, yaml
  - prettier --write

1.1.34
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  package-lock.json
  package.json
Due: none

1.1.35
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  package-lock.json
  package.json
Due: none

1.1.36
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  package-lock.json
  package.json
Due: none

build: update package
  docs/assets/style.css
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  index.ts
  package-lock.json
  package.json
Due: prettier --write --single-quote

build: update packages and fix lint errors (#110)
  docs/assets/style.css
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  index.ts
  package-lock.json
  package.json
Due: prettier --write --single-quote

1.1.38
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  package-lock.json
  package.json
Due: none

chore: update Git configuration in release workflow
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update Git configuration email in release workflow
  .github/workflows/release.yml
  .husky/pre-commit
  package-lock.json
Due: prettier --write

docs: add typedoc-rhineai-theme, update typedoc ;
  docs/assets/icons.js
  docs/assets/rhineai-style.css
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/favicon.ico
  docs/functions/requestGPIOAccess.html
  docs/hierarchy.html
  docs/index.html
  docs/manifest.json
  docs/modules.html
  package-lock.json
  package.json
  typedoc.json
Due: none

docs: add typedoc-rhineai-theme, update typedoc (#113)
  docs/assets/icons.js
  docs/assets/rhineai-style.css
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/favicon.ico
  docs/functions/requestGPIOAccess.html
  docs/hierarchy.html
  docs/index.html
  docs/manifest.json
  docs/modules.html
  package-lock.json
  package.json
  typedoc.json
Due: none

fix: カーネル 6.10 以降で GpioOffset の判定が誤る問題を修正
  index.ts
Due: prettier --write --single-quote

fix: カーネル 6.10 以降で GpioOffset の判定が誤る問題を修正 (#117)
  index.ts
Due: prettier --write --single-quote

Enable grouping and npmDedupe in Renovate
  renovate.json
Due: none

Update Node.js versions and runner in build workflow
  .github/workflows/build.yml
Due: prettier --write

Add @tsconfig/strictest and update configuration
  package-lock.json
  package.json
  tsconfig.json
Due: none

Migrate from Biome/Prettier to oxlint and oxfmt
  .eslintrc.yml
  .lintstagedrc.yaml
  .oxfmtrc.json
  .oxlintrc.json
  index.ts
  package-lock.json
  package.json
Due: prettier --write --single-quote, prettier --write

Change trigger from pull_request to push
  .github/workflows/build.yml
Due: prettier --write

update dependencies and linting configuration
  .husky/pre-commit
  .lintstagedrc.json
  .lintstagedrc.yaml
  .oxfmtrc.json
  package-lock.json
  package.json
  tsconfig.json
  typedoc.json
Due: none

Replace TypeDoc-generated docs with a redirector to npmx.dev
  README.md
  docs/.nojekyll
  docs/404.html
  docs/assets/hierarchy.js
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/rhineai-style.css
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/favicon.ico
  docs/functions/requestGPIOAccess.html
  docs/hierarchy.html
  docs/manifest.json
  docs/modules.html
  package-lock.json
  package.json
  typedoc.json
Due: prettier --write

Re-add docs/.nojekyll to skip the flaky legacy Jekyll Pages build
  docs/.nojekyll
Due: none

Replace TypeDoc docs with a redirector to npmx.dev (#144)
  README.md
  docs/.nojekyll
  docs/404.html
  docs/assets/hierarchy.js
  docs/assets/highlight.css
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/rhineai-style.css
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/favicon.ico
  docs/functions/requestGPIOAccess.html
  docs/hierarchy.html
  docs/manifest.json
  docs/modules.html
  package-lock.json
  package.json
  typedoc.json
Due: prettier --write

Delete docs/.nojekyll
  docs/.nojekyll
Due: none

Add hardware interrupt support using epoll
  .github/workflows/release.yml
  README.md
  epoll.d.ts
  index.ts
  package-lock.json
  package.json
Due: prettier --write --single-quote, prettier --write

Address Copilot review feedback on epoll interrupt support
  README.md
  index.ts
  package.json
Due: prettier --write --single-quote, prettier --write

Bump version to 2.0.0-beta.0 and restrict OS to Linux
  package-lock.json
  package.json
Due: none

Add acknowledgments section to README
  README.md
Due: prettier --write

Replace GPIO polling with epoll-based hardware interrupts (#150)
  .github/workflows/release.yml
  README.md
  epoll.d.ts
  index.ts
  package-lock.json
  package.json
Due: prettier --write --single-quote, prettier --write
