Repository chirimen-oh/node-web-gpio: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --single-quote, prettier --write

.lintstagedrc.yaml:

"*.ts":
  # typescript
  # prettier で、ダブルクオートからシングルクオートへ
  - prettier --write --single-quote
"*.{md,yml}":
  # markdown, yaml
  - prettier --write

レビュー指摘事項反映
  index.ts
Due: prettier --write --single-quote

new docs
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/modules.html
Due: none

TSDoc (#40)
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/icons.css
  docs/assets/icons.png
  docs/assets/icons@2x.png
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/assets/widgets.png
  docs/assets/widgets@2x.png
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/index.html
  docs/modules.html
  index.ts
  package.json
  typedoc.json
  yarn.lock
Due: prettier --write --single-quote

chore(deps): update actions/checkout action to v3
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: prettier --write

chore(deps): update actions/cache action to v3
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: prettier --write

chore: `yarn && yarn docs`
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/modules.html
  yarn.lock
Due: none

1.0.14
  package.json
Due: none

chore(deps): update dependency husky to v8
  package.json
  yarn.lock
Due: none

1.0.15
  package.json
Due: none

chore(deps): update dependency lint-staged to v13
  package.json
  yarn.lock
Due: none

1.0.16
  package.json
Due: none

1.0.17
  package.json
Due: none

1.0.18
  package.json
Due: none

README ドキュメント追加
  README.md
Due: prettier --write

chore(README): README update
  README.md
Due: prettier --write

chore(README): README ドキュメント追加 (#49)
  README.md
  package.json
Due: prettier --write

1.0.19
  package.json
Due: none

1.0.20
  package.json
Due: none

1.0.21
  package.json
Due: none

1.0.22
  package.json
Due: none

1.0.23
  package.json
Due: none

1.0.24
  package.json
Due: none

1.0.25
  package.json
Due: none

1.0.26
  package.json
Due: none

1.0.27
  package.json
Due: none

1.0.28
  package.json
Due: none

1.0.29
  package.json
Due: none

1.0.30
  package.json
Due: none

1.0.31
  package.json
Due: none

1.0.32
  package.json
Due: none

1.0.33
  package.json
Due: none

set up monthly renovations
  renovate.json
Due: none

update dependencies
  package.json
  yarn.lock
Due: none

replace with eslint to biome for linting
  index.ts
  package.json
  yarn.lock
Due: prettier --write --single-quote

use correct offset for GPIO0 https://github.com/raspberrypi/linux/issues/6037
  index.ts
Due: prettier --write --single-quote

generated docs
  docs/assets/highlight.css
  docs/assets/icons.css
  docs/assets/icons.js
  docs/assets/icons.png
  docs/assets/icons.svg
  docs/assets/icons@2x.png
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/assets/widgets.png
  docs/assets/widgets@2x.png
  docs/classes/GPIOAccess.html
  docs/classes/GPIOPort.html
  docs/classes/GPIOPortMap.html
  docs/classes/InvalidAccessError.html
  docs/classes/OperationError.html
  docs/functions/requestGPIOAccess.html
  docs/index.html
  docs/modules.html
Due: none
